[Unit]
Description=Snapcast
After=pipewire.service
Requires=pipewire.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=%h/git/audio/snapcast/bin/snapclient --player pipewire
Restart=on-failure
