[Unit]
Description=Polybar

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.config/scripts/desktop/polybar-start.sh
ExecStop=killall -q polybar